# --- Python & Backend ---
.venv/
venv/
.env/
env/
**/__pycache__/
__pycache__/
*.pyc
*.pyo
*.egg-info/

# --- Entorno ---
.env
.env.*
!.env.example

# --- Frontend ---
node_modules/
dist/
.astro/


# --- IDE ---
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# --- Logs ---
*.log
logs/